.nav {
    background-color: lightpink;
    height: 60px;
    border: 3px solid black;
}

.nav li {
    float: left;
    list-style-type: none;
    margin: 5px 15px 0 15px;
    font-family: "Arial";
    cursor: pointer;
}

.nav li:hover {
    color: white;
}

.sidebar {
	float: left;
	background-color: turquoise;
	width: 200px;
	height: 600px;
	border: 3px solid black;
}
















